
.tree {
  margin-top: 20rem;
  border: 1px solid rgb(67, 67, 67);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.demo-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.column-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  background: #f7fafc;
  border-right: 1px solid #2d3748;
  display: none;
}

.controls-container {
  display: flex;
  flex-direction: column;
  flex-basis: 1;
  height: 45em;
  overflow-y: scroll;
}

.state-container {
  display: none;
  flex-direction: column;
  flex-basis: 30%;
  border-top: 1px solid black;
}
.state-container > h4 {
  color: black;
}

.state {
  width: 100%;
  height: 100%;
}

.column-right {
  height: 100%;
  width: 100%;
}

.tree-container {
  width: auto;
  height: 45em;
  background: #d5dcd5;
}

.prop-container {
  padding: 2px 5px;
  margin: 15px 10px;
}
.prop {
  font-weight: bold;
  display: block;
}

.prop-large {
  font-size: 16px;
}

.sub-prop {
  padding: 5px;
}

.btn-controls {
  color: #f7fafc;
  background-color: #2d3748;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.btn-controls:hover,
.btn-controls:focus,
.btn-controls:active {
  color: white;
  border-color: #f7fafc;
}

.tree-stats-container {
  text-align: center;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #2d3748;
  font-weight: bold;
}

/* Custom node classes */
.root-node > circle {
  fill: #dedede;
  stroke: #2d3748;
  r: 40;
}

.branch-node > circle {
  fill: #dedede;
  stroke: #2d3748;
  r: 40;
}

.leaf-node > circle {
  fill: #dedede;
  stroke: #2d3748;
  r: 40;
}

.rd3t-label__title{
  text-anchor: middle;
  x: 0;
  font-size: 50%;
}

/* Custom path classes */
.my-path-class{
  stroke: royalblue;
  stroke-width: 10;
}

.link__to-leaf > link{
  fill: blue;
  stroke-width: 10;
}

.link__to-branch > link{
  fill: red;
  stroke-width: 10;
  border: 1px solid red;
}

/* Poner texto debajo de nodo */
/* .rd3t-label { translate: -100px 33px !important; font-size: 13px; } */


/* Estilos del Modal */
/*Efecto*/
.backdrop{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


/*Formato de la ventana*/
.modalbox{
  position: absolute;
  /* display: block; */
  background: #fff;
  width: 40%;
  max-width: 400px;
  min-height: 200px;
  margin:  120px 120px;
  padding: 5px 20px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid rgb(217, 217, 217);
  border-radius:3px;
  cursor: auto;
  opacity: 1;
  transition: all 500ms ease-in; 
  
}



/*Boton de cerrar*/
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius:3px;
  cursor: pointer;

}

.close:hover {
  background: #FAAC58;
  color:#222;
}




/*

@media only screen and (max-width: 480px) {

  .backdrop #card{
      max-width: 70%;
      max-height: 90%;
      margin: 50% auto; 
  }
} */